<div class="container mt-5 text-center" style="margin-top: 1cm;">
    <h1> PITCH APP</h1>
    <div class="navbar mt-5 bg-danger" role="navigation">
        <div class="navbar">
            <ul class="nav navbar-nav " style="margin-top: 2rem; color: white;">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('main.interview_pitches')}}">Interview</a></li>
                <li><a href="{{url_for('main.product_pitches')}}">Product</a></li>
                <li class="text-white"><a href="{{url_for('main.promotion_pitches')}}">Promotion</a></li>
            </ul>
    </div>

</div>